/* Để giữ tính chính xác của kích thước trong thiết kế */
* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ffb900;
}
/* để đổi đơn vị 1rem=10px */
html {
  font-size: 62.5%;
}
---------------/* Common */-------------------

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
a {
  color: inherit;
  text-decoration: none;
}

.heading-lv2 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  /* identical to box height, or 126% */
  letter-spacing: -0.02em;

  color: #171100;
}
.btn {
  /* Sign Up */
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-family: "Poppins", sans-serif;

  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;

  color: #ffffff;

  background: #171100;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
  transition: 0.4s;
}
.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  /* Courses */
  font-family: "Poppins", sans-serif;

  font-size: 16px;
  line-height: 28px;

  color: #5f5b53;
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  /* Home */

  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  font-size: 16px;

  color: #171100;
  transition: 0.3s;
}
.nav li.active a::after {
  content: "";
  /* Rectangle 4579 */
  position: absolute;
  display: block;
  left: 21px;
  bottom: 6px;
  width: 12px;
  height: 2px;

  background: #171100;
  border-radius: 1px;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero-summary {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  /* Base */

  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  /* 20 Courses */
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.86;
  /* identical to box height, or 186% */

  color: #5f5b53;
}
.hero-summary .title {
  /* UI/UX Design */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  /* identical to box height, or 167% */

  color: #171100;
}
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .content-block .heading {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  /* or 117% */
  letter-spacing: -0.02em;

  color: #171100;
}
.hero .content-block .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  /* or 167% */

  color: #5f5b53;
  margin-top: 22px;
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero .cta-group .hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}
.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  /* Ellipse 2646 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
  border-radius: 40px;
}
.hero .watch-video span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  /* identical to box height, or 167% */

  color: #171100;
  margin-left: 14px;
}
.hero .content-block .desc-recent {
  margin-top: 48px;
}
.hero .stats strong {
  /* 50K Students */
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  /* identical to box height, or 123% */

  color: #171100;
  margin-right: 15px;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
.hero .cta-group .watch-video .icon img {
  margin-left: 2px;
}
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-top .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  /* or 167% */

  color: #5f5b53;
  max-width: 458px;
  margin-top: 16px;
}
.popular .controls {
  display: flex;
  gap: 18px;
}
.popular .controls-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Ellipse 1853 */
  width: 40px;
  height: 40px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: transparent;
  border-radius: 50%;
}
.popular .controls-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.popular .course-list .course-item {
  width: 370px;
  height: 466px;

  background: #ffffff;
  border: 1px solid #e2dfda;
  border-radius: 12px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
  position: relative;
}
.popular .course-list .course-item:hover {
  width: 370px;
  height: 466px;

  background: #ffffff;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  border-color: transparent;
}
.popular .course-list .course-item img.thumb {
  /* Image */
  width: 100%;
  height: 278px;
  object-fit: cover;
  background: url(image.png);
  border-radius: 12px 12px 0px 0px;
}
.popular .course-list .course-item .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  /* identical to box height, or 167% */

  color: #171100;
}
.course-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-item .head .rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-item .head .rating span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  /* identical to box height, or 175% */

  color: #fea31b;
  margin-left: 5px;
}
.course-item .info .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  /* or 186% */

  color: #5f5b53;
  margin-top: 6px;
}
.course-item .info .foot {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 141px;
}
.course-item .info .foot .price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  /* identical to box height, or 167% */

  color: #171100;
}
.popular .course-item .info {
  padding: 16px 22px 22px;
}
.course-item .info .foot .btn-book {
  width: 118px;
  height: 50px;

  background: #171100;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.course-item .info .foot .btn-book:hover {
  background: var(--primary-color);
}

/* Biến vùng bấm của tiêu đề phủ lên toàn bộ diện tích cái Card */
.main-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; /* Phủ lên toàn bộ phần card */
}

/* Đẩy nút Book Now lên trên cùng để không bị vùng phủ của main-link che mất */
.btn-book {
  position: relative;
  z-index: 2; /* Cao hơn z-index: 1, giúp nút Book Now vẫn bấm riêng được */
}
